@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");



/* HOME */
* {
    box-sizing: border-box;
    
}
header {
background-color: #9b2639 ;
min-height: 170px;
}
footer {
     background-color: #9b2639;
     min-height: 300px;
 }

main {
     height: 100%;
     background-color: #9b263986;
     overflow-x: auto;
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        
  }
  

.barraBusqueda{
    width: 50%;
}

.barraBusqueda form{
    display: flex;
    align-items: center;
}

.barraBusqueda form input{
    width: 100%;
    border-radius: 15%;
    height: 22px;
    position: relative;
    top: 40px;
    left: 17px;
}

.barraBusqueda form button{
    position: relative;
    right: 10px;
    height: 15px;
    background-color: transparent;
    color: (0,0,0,0.5);
    border-color: transparent;
    top: 36px;
    
}

.barraBusqueda form i{
    background-color: transparent;
    color: (0,0,0,0.5);
}

.imagen{
    width: 30%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.imagen img{
    width: 40%;
    height: 100%;
}

.general {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}


.cuentacarrito{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
}

.cate-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.menuCategorias{

  height: 50px;
  width: 100%;
}

.categorias {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
}

.interes {display: flex;
    flex-wrap: wrap;

}

.productos img {
    height: 100%;
    width: 100%;
    

    max-width:100%;
    max-height:100%;
    
    
}

.productos{ 
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    

}


.tour {
    display: flex;
    
    flex-direction: row;
}

.fotoBodega, .descripcionBodega {
    margin: 5px; 
    
    flex-wrap: wrap;
}

.usuario h3{
    font-size: 5px;
}
/* .usuario a{
    font-size: 14px;
    position: relative;
    left: 15px;
} */
.usuario i {
    font-size: 12px;
    position: relative;
    left: 10px;
}

.usuario{
    height: 20%;
}

.signlog {
    display: flex;
    flex-direction: row;

}

.signlog article{
    width: 30%;
}


/* .cuentacarrito div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
    margin-top: 5px;
    
} */






.linksn{
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer div{
    padding: 5px;
    margin: 2px;
}

main form input{
    border-radius: 8px;
}


/* logIn-signIn  */

.signlog article {
    position: relative;
    left: 10px;
}


.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.formulario-s{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.articulosProductos {
    width: 40%;
    margin: 5px;
}


/* product */

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
    display: flex;
    flex-direction: column;
}

.desplegables{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

/* shoppingCart */

.section-p{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}

.info-p{
    width: 100%;
    margin: 3px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.info-p p{
    margin: 3px;
    align-self: center;
}

.info-p article{
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
}

.tour{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width:768px) {
    .right {
        position: relative;
        bottom: 19px;
        left: 60px;
    
    }

    .cuentacarrito{
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
    }

    .cuentacarrito li{
        padding: 15px;
        font-size: 20px;
        padding-top: 35px;
    }

    .barraBusqueda{
        width: 50%;
    }

    .tour{
        flex-direction: row;
    }

    .imagen img{
        width: 20%;
    }
}

