@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");



* {
    box-sizing: border-box; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.signlog {
    display: flex;
    flex-direction: row;
}

main form input{
    border-radius: 8px;
}

.signlog article {
    position: relative;
    left: 10px;
    width: 30%;
}

/* HEADER */

header {
    background-color: white ;
}

.general {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}

.imagen{
    width: 15%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.barraBusqueda{
    width: 50%;
}

.barraBusqueda form{
    display: flex;
    align-items: center;
}

.barraBusqueda form input{
    width: 70%;
    border-radius: 10%;
    height: 30px;
    position: relative;
    top: 40px;
    left: 10px;
    border-color: #6f1c48;
}

.barraBusqueda form button{
    position: relative;
    right: -10px;
    height: 15px;
    background-color: transparent;
    color: (0,0,0,0.5);
    border-color: transparent;
    top: 35px;    
}

.barraBusqueda form i{
    background-color: transparent;
    color: (0,0,0,0.5);
}

.cuentacarrito{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}

li:hover{
    color: black!important;
    background-color:white;
}

.cuentacarrito li a:visited {
    text-decoration: none;
    color:black;
}

.cate-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menuCategorias{
    color: white;
    text-transform:uppercase;
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    background-color:#6f1c48;
    font-size: 11px;
    font-weight: 500;
}

.categorias {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    padding: 10px;  
}

/* fin Header */ 

/* FOOTER */

footer {
    background-color: black ;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    text-transform:none;
    font-family: 'Montserrat',sans-serif;
}

.linksnEncabezado{
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'ClassGarmnd BT',sans-serif;
    color:#C59D5D ;
    font-size: 40px;   
}

.linksnSecundario{
    color:white;
    text-transform:uppercase;
    font-size: 13px;
    text-align: center;  
}

.linksnEncabezado2{
    border-bottom: 1px solid #C59D5D;
    text-align: center;
    font-size: 0.75rem;
}

.redesSociales{
    display: flex; 
    align-items: center;
    margin-bottom: 8px;
}

.sociales{
   padding-right: 60px;
   padding-left: 35px;
   align-items: center;
   font-size: 13px;  
}

.secFooter{
    display: flex;
    align-self: center;
    margin-bottom: 17px;
    margin-top: 15px;
    font-size: 15px;     
}

.secFooter i{
    padding-left: 12px;
}

.finFooter{
    font-size: 8.5px;
}

/* fin Footer */
   
/* HOME */ 

main {
    height: 100%;
    background-color: white;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
}

.tour {
    display: flex;
    flex-direction: row;
}

.fotoBodega, .descripcionBodega {
    margin: 5px; 
    flex-wrap: wrap;
}

.tour{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* fin  Home */

/* Log In */

.usuario h3{
    font-size: 5px;
}

.usuario i {
    font-size: 12px;
    position: relative;
    left: 10px;
}

.usuario{
    height: 20%;
}

/* Fin  Log In */

/* Sign In */

.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.formulario-s{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* fin Sign In */

/* shoppingCart */

.section-p{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}

.info-p{
    width: 100%;
    margin: 3px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-p p{
    margin: 3px;
    align-self: center;
}

.info-p article{
    align-items: center;
}

/* fin Shopping Cart*/

/* detail y Quizas Te Interese */

.productos img {
    width: 70%;
}

.productos{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.articulosProductos {
    width: 38vw;
    margin: 2px;
    
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
    display: flex;
    flex-direction: column;
}

.desplegables{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.interes {
    display: flex;
    flex-wrap: wrap;
}

/* Fin  Products y Quizas Te Interese*/

/* Admin Products */

.cardCreate{
    max-width: 35%;
    display: flex;
    flex-direction: column;
    background: #9b2639ba;
    box-shadow: 0px 2px 4px black;
}

.formA {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formAdmin {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 30%;
}

.buttonsContainer{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
 
/* fin Admin Products */

/* catalogo de productos */

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product li img {
    width: 20%;
}

.product li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #222;
    padding: 1em;
    border-radius: 0.5em;  
}

.product li strong {
   font-size: 20px; 
}

.product li em {
    font-size: 30px;
}

/*fin catalogo de productos */

/* UserDetails */

.userDetail {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3px;
    justify-content: space-around;
    border: dotted black 1px;
}

.userDetail div {
    text-align: left;
    margin: auto;
}

/* UserDetails */

/* media queris */

@media (min-width:768px) {
    .right {
        position: relative;
        bottom: 19px;
        left: 60px;
    
    }

    .productos{ 
        display: flex;
        align-self: stretch;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        flex-wrap: nowrap;
    }

    .productos img {
        height: 100%;
        width: 100%;
        max-width:300px; 
    }

    .cuentacarrito{
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        margin-top: 50px;
    }

    .cuentacarrito li{
        padding: 15px;
        font-size: 20px;
        padding-top: 35px;
    }

    .articulosProductos {
        width: 40%;
        margin: 5px;
    }

    .barraBusqueda{
        width: 50%;
    }

    .tour{
        flex-direction: row;
    }

    .imagen img{
        width: 55%;
    }

    .menuCategorias{
       font-size: 14px;
    }

    .barraBusqueda form input{
        top: 70px;
        left: 10px;
        height: 40px;
    }
    
    .barraBusqueda form button{
        right: -10px;
        top: 65px;      
    }

    .cuentacarrito li{
        position:relative;
        top: -12px;
        right: 90px;
        padding: 20px;
    }

    footer {
        color:white;
        background-color:black;
        flex-direction: row;  
        justify-content: space-around;
    }

    .finFooter {
        align-self:flex-end;
        font-size: 11px;
    }

    .redesSociales{
        align-self: center;
        width: 450px;
    }
 
    .sociales{
        font-size: 18px;
        padding: 0%;
        margin-right: 15px;
        align-items: center;
    }

    .secFooter{
        flex-direction: column;
        margin-left: 120px;
        font-size: 20px;
        padding-right: 130px;
    }

    .secFooter i:hover {
        color: black!important;
        background-color:white;
    }        

    .footerLogo{
        margin-bottom: 10px;
        margin-left: 15px;
    } 
}