@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");



* {
    box-sizing: border-box; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.signlog {
    display: flex;
    flex-direction: row;
}

main form input{
    border-radius: 8px;
}

.signlog article {
    position: relative;
    left: 10px;
    width: 30%;
}

/* HEADER */

header {
    background-color: white ;
}

header nav {
    align-content: space-around;
    justify-content: space-around
}

.general {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}

.articulosHome {
    margin: 40px;
    

}

.articulosHome img {
    border-radius: 50%;
}


.imagen{
    width: 15%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.barraBusqueda{
    width: 50%;
}

.barraBusqueda form{
    display: flex;
    align-items: center;
}

.barraBusqueda form input{
    width: 70%;
    border-radius: 18px;
    height: 30px;
    border-color: #6f1c48;
}

.buttonForm button {
    color: white;
    background-color: #6f1c48;
    border-color: #6f1c48;
    border-radius: 10px;
}


.barraBusqueda form button{
    
    background-color: transparent;
    color: (0,0,0,0.5);
    border-color: transparent;
    top: 35px;    
}

.barraBusqueda form i{
    background-color: transparent;
    color: (0,0,0,0.5);
}

.cuentacarrito{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}

li:hover{
    color: black!important;
    background-color:white;
}

.cuentacarrito li a:visited {
    text-decoration: none;
    color:black;
}

.cate-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menuCategorias{
    color: white;
    text-transform:uppercase;
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    background-color:#6f1c48;
    font-size: 11px;
    font-weight: 500;
}

.categorias {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    padding: 10px;  
}

.categorias li a {
    text-decoration: none;
    color: white;
}

.categorias li a:hover {
    color: black;
}
.categorias li a :visited {
    text-decoration: none;
}



/* fin Header */ 

/* FOOTER */

footer {
    background-color: black ;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    text-transform:none;
    font-family: 'Montserrat',sans-serif;
}

.linksnEncabezado{
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'ClassGarmnd BT',sans-serif;
    color:#C59D5D ;
    font-size: 40px;   
}

.linksnSecundario{
    color:white;
    text-transform:uppercase;
    font-size: 13px;
    text-align: center;  
}

.linksnEncabezado2{
    border-bottom: 1px solid #C59D5D;
    text-align: center;
    font-size: 0.75rem;
}

.redesSociales{
    display: flex; 
    align-items: center;
    margin-bottom: 8px;
}

.sociales{
   padding-right: 60px;
   padding-left: 35px;
   align-items: center;
   font-size: 13px;  
}

.secFooter{
    display: flex;
    align-self: center;
    margin-bottom: 17px;
    margin-top: 15px;
    font-size: 15px;     
}

.secFooter i{
    padding-left: 12px;
}

.finFooter{
    font-size: 8.5px;
}

/* fin Footer */
   
/* HOME */ 

main {
    height: 100%;
    background-color: rgba(250, 233, 228, 0.51);
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
}


.tour {
    display: flex;
    flex-direction: row;
    
}

.editProductDetail {
    display: flex;
    flex-direction: rows;
}


.sectionTour {
    border: #6f1c48 1px solid;
}

.fotoBodega, .descripcionBodega {
    margin: 5px; 
    flex-wrap: wrap;
}

.tour{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttonForm1 section a {
    color: white;
    background-color: #6f1c48;
    border-color: #6f1c48;
    border-radius: 10px;
    display: flex;
    justify-items: auto;
    margin: 20px;
    text-decoration: none;
}
.buttonForm1 h2 {
    margin-top: 2px;
    padding: 3px;
    font-size: 13px;
}
.buttonForm1{
    display: flex;
    
    flex-wrap: wrap;

    
}




/* fin  Home */

/* Log In */

.usuario h3{
    font-size: 5px;
}

.loginDiv {
    margin-bottom:  15px;
    justify-content: space-evenly;

}

.loginDiv input {
    border-radius: 18px; 
}



.buttonDiv button {

    margin-top: 5px;
    border-radius: 15px;
    background-color: #6f1c48;
    color: white;
    width: 50%;
    margin-left: 50px;
}
.logInMain{
    margin-top: 20px;
}

.logos {
    align-items: baseline;
    margin-bottom: 10px;
}

.logos i {
    margin-left: 25px;
    margin-right: 25px;
}

.usuario i {
    font-size: 12px;
    position: relative;
    left: 10px;
}

.usuario{
    height: 20%;
}

/* Fin  Log In */

/* Sign In */

.Sign-in{
    margin-top: 15px;
}

.signInDiv {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
     
}

.signInDiv input {
    border-radius: 18px;
}

.signInDiv button {
    border-radius: 18px;
    color: white;
    background-color: #6f1c48;
    width: 30%
    
}



/* fin Sign In */

/* shoppingCart */

.section-p{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
}

.info-p{
    width: 100%;
    margin: 3px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    flex-wrap: wrap;
}

.info-p p{
    margin: 3px;
    align-self: center;
}

.articulos {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-around;
   
    border: 1px dotted gray;

}



.articulos p {
    text-align:center; 
        vertical-align: middle;
        display: table-cell;
        width: 50px; 
   
}

.articulos article{
    
    vertical-align: middle;
    
}

.columnaProducto {
    position: relative;
    left: -10
    px;
}

.columnaPrecio {
    position: relative;
    left: 10px;
}

.columnaCantidad {
    position: relative;
    left: 20px;
}

.columnaSubtotal {
    position: relative;
    left: 20px;
}

.columnaRemover {
    position: relative;
    left: 10px;
}
/* fin Shopping Cart*/

/* product detail y Quizas Te Interese */

.productos img {
    border-radius: 50%;
    width: 70%;
}

.carruselTipos {
    width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.articulosHome2 img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 50%;
}




.productos{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.product li   {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 30px;
    padding: 10px;
}

.articulosProductos {
    width: 38vw;
    margin: 10px;   

}

.articulosProductos h3 {

    display: none;

}
.articulosProductos:hover h3 {

    display: initial;

}


.articulosProductos :hover {
     box-shadow: 0px 0px 10px rgb(100, 100, 100);

}
.articulosProductos:hover .precio {
    display: initial;

}

.botones{
    display: flex;
    flex-wrap: wrap;
    
    
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 25px;
}

.buttons button{
    border-radius: 10px;
    background-color: #6f1c48;
    color: #fff;
}

.desplegables{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin-right: 25px;
}

.desplegables select {
    border-radius: 10px;
    background-color: #6f1c48;
    color: #fff;
}

.desplegables select option {
    background-color: #6f1c48;
    color: #fff;
    border-radius: 20px;
}

.interes {
    display: flex;
    flex-wrap: wrap;
}

.editYDelete button{
    border-radius: 10px;
    color: #fff;
    background-color: #6f1c48;
}
.imagenProducto {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    height: 100%;
    width: 100%;
}

.imagenProducto img {
    border: #222 1px solid ;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Fin  Products Detail y Quizas Te Interese*/

/* Admin Products */



.cardCreate{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;

}

.cardCreate h1 {
    margin-left: 30px;
}
.formulario-s{
    display: flex;
    flex-direction: column;
    
    
}

.formA {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formA div{
    margin-top: 3px;
    margin-bottom: 3px;
 }

 .form-select {
     cursor: pointer;
     border-radius: 20px;
     margin-top: 2px;
     background-color: #6f1c48;
     color: aliceblue;
 }

 .buttonsContainer button {
     color: white;
     background-color: #6f1c48;
     width: 30%;
     border-radius: 10px;
     
     
 }

 .formA textarea {
   margin-top: 2px; 
}

.formA button {
    border-radius: 20px;
    background-color: #6f1c48;
     color: aliceblue;
     margin-top: 10px;
     margin-bottom: 5px;
}

.formAdmin input {
    border-radius: 20px;
}

.formAdmin {
    display: flex;
    flex-wrap: wrap;
    align-self: inherit;
    

}


.buttonsContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}
 
/* fin Admin Products */

/* catalogo de productos */

.producImage {
    height: 250px;
    object-fit: cover;
    border: #222 1px solid;
    border-radius: 50%;
    
}
.product {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.product li img {
    width: 48%;
}

.product li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #6f1c48;
    padding: 3px;
    border-radius: 20px;
    width: 125px;
}

.product li strong {
   font-size: 20px; 
}

.product li em {
    font-size: 30px;
}

.product li {
    max-width: 300px;
    margin: 50px;
   

}

/*fin catalogo de productos */

/* UserDetails */

.userDetail {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3px;
    justify-content: space-around;
    
}

.userImage {
    max-width: 300px;
    margin-left: 10px;
} 

.userDetail div {
    text-align: left;
    margin: auto;
}

.profile button {
       background-color: #6f1c48;
       color: white;
       border-color: #6f1c48;  
       border-radius: 10px;     
}

 .profile {
     margin-top: 20px;
     margin-bottom: 20px;
 }

/* UserDetails */



/* carrusel */

.carousel-control-prev {
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 80px;
    background-color: #222;
}

.carousel-control-next {
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 80px;
    background-color: #222;
}


/* fin de carrusel */

.error404 {
    width: 100%;
    background-color: #fff;
}

/* media queris */

@media (min-width:768px) {

    .carruselTipos {
     flex-direction: row;
    }

    .articulosHome2 img{
        width: 300px;
        height: 300px;
        object-fit: contain;
        border-radius: 50%;
    }

    .buttonForm1 section a {
        display: flex;
        justify-items: auto;
        margin: 20px;
        text-decoration: none;
    }
    .buttonForm1 h2 {
        margin-top: 2px;
        padding: 3px;
        font-size: 25px;
    }


    .right {
        position: relative;
        bottom: 19px;
        left: 60px;
    
    }

    .productos{ 
        display: flex;
        align-self: stretch;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        flex-wrap: nowrap;
    }

    .productImage {
        max-width: 250;
    }

    .productos img {
        height: 100%; 
        width: 100%;
        max-width:300px; 
    }

    .cuentacarrito{
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        margin-top: 50px;
    }

    .columnaProducto {
        position: relative;
        left: -15px;
    }
    
    .columnaPrecio {
        position: relative;
        left: -10px;
    }
    
    .columnaCantidad {
        position: relative;
        left: 20px;
    }
    
    .columnaSubtotal {
        position: relative;
        left: 50px;
    }
    
    .columnaRemover {
        position: relative;
        left: 30px;
    }
    
    .titulosColumnas {
        font-size: 15px;
    }
    
    .iconoRemover {
        position: relative;
        top: -19px;
    }

    .info-p{
        
        justify-content: space-around;
       
    }

    .articulos {
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: 20px;
        width: 100%;
    }

    .articulos p {
        text-align:center; 
            vertical-align: middle;
            display: table-cell;
            width: 100px; 
       
    }

    .cuentacarrito li{
        padding: 15px;
        font-size: 20px;
        padding-top: 35px;
    }

    .articulosProductos {
        width: 40%;
        margin: 5px;
    }

    .barraBusqueda{
        width: 50%;
    }

    .tour{
        flex-direction: row;
    }

    .imagen img{
        width: 55%;
    }

    .menuCategorias{
       font-size: 14px;
    }

    .barraBusqueda form input{
        top: 70px;
        left: 10px;
        height: 40px;
    }
    
    .barraBusqueda form button{
        right: -10px;
        top: 65px;      
    }

    .cuentacarrito li{
        position:relative;
        top: -12px;
        right: 90px;
        padding: 20px;
    }

    footer {
        color:white;
        background-color:black;
        flex-direction: row;  
        justify-content: space-around;
    }

    .finFooter {
        align-self:flex-end;
        font-size: 11px;
    }

    .redesSociales{
        align-self: center;
        width: 450px;
    }
 
    .sociales{
        font-size: 18px;
        padding: 0%;
        margin-right: 15px;
        align-items: center;
    }

    .secFooter{
        flex-direction: column;
        margin-left: 120px;
        font-size: 20px;
        padding-right: 130px;
    }

    .secFooter i:hover {
        color: black!important;
        background-color:white;
    }     
    
    
    .footerLogo{
        margin-bottom: 10px;
        margin-left: 15px;
    }
    
    .homeCarrousel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 
    .homeCarrousel section {
        margin-inline: 100px;
    }
    
}