@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    box-sizing: border-box;
    overflow-y: scroll;
}
header {background-color: lime;
display: flex;
flex-wrap: wrap;
}

.barraDeBusqueda{ 


 }

 article{background-color: lightskyblue;}

 footer {
     background-color: magenta;
 }

 main {
     background-color: lightseagreen;
     overflow-x: auto;
 }

