<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobdega</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="general">
            <div class="imagen" > 
                <a href="/"><img src="/images/final_2.png" alt="Bobdega" width="80"></a>
            </div>

          
            <div class="barraBusqueda">
                <form action="">
                    <input name="buscar" type="text" placeholder="Buscar productos">
                    <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
                </form>    
            </div>

            
            
                <ul class="cuentacarrito">
                <li ><i class="fas fa-user-circle" style="font-size: 18px;" ></i></li>
                <li ><a href="/signin" ><i class="fas fa-sign-in-alt"></i></a></li>
                <li ><a href="/login"><i class="far fa-id-card"></i></a></li>
                <li><a href="/shoppingCart"><i class="fas fa-cart-plus"></i></a></li>
                </ul>
    
            
        </div>
        <div class="cate-div">
            <nav class="menuCategorias">
                <ul class="categorias">
                <li >Espumantes</li>
                <li >Tintos</li>
                <li >Blancos</li>
                <li >Ahumados</li>
                <li >Regalos</li>
                </ul>

            </nav>
        </div>
   </header>



   <main>
    
        <section>
          <h2 class="title">Ofertas de esta temporada</h2>       
          <img src="/images/fondo.jpg" alt="" width="250">
         </section>
    
         <section>
            <h2>Nuestra Seleccion Premium</h2>
            <img src="/images/fondo-2.jpg" alt="" width="250">
        </section>
    
    <!-- <h2 class="title">Ofertas de esta temporada</h2>       
       <img src="/images/fondo.jpg" alt="" width="250">
       <section>
           <article>
               <h2>Nuestra Seleccion Premium</h2>
               <img src="/images/fondo-2.jpg" alt="" width="250">
           </article>
       </section> -->

       <section class="interes">
        <div>
        <h2 class="title">¡Quizas esto te interese!</h2>
        </div>
           <div class="productos">
                <article class="articulosProductos">
                    <a href="/product"><img src="/images/producto1.jpg" alt=""></a>
                    </article>
                <article class="articulosProductos">
                    <a href="/product"><img src="/images/producto2.jpg" alt=""  ></a>
                    </article>
                <article class="articulosProductos">
                    <a href="/product"><img src="/images/producto3.jpg" alt=""  ></a>
                    </article>
                <article class="articulosProductos">
                    <a href="/product"><img src="/images/producto4.jpg" alt="" ></a>
                    </article>
            </div>
       </section>


       <section>
        <h2>Tour por nuestros Viñedos</h2>
        <article class="tour">
            

          <div class="tour">
            <div class="fotoBodega">
               <img src="/images/Bodega.jpg" alt="" width="250">
            </div>

            <div>
               <p class="descripcionBodega"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem sit, architecto sed fugiat temporibus tempora quod perferendis. Id aut sunt beatae quibusdam et qui, eius eligendi quis rerum! Sed! </p>
            </div>
        </div>
        </article>
    </section>


   </main>



   <footer>
        <div>
            <i class="fas fa-smile-wink">Acerca de Nosotros</i>
            <nav>
                <ul class="linksn">
                    <li class="nosotros">Espumantes</li>
                    <li class="nosotros">Tintos</li>
                    <li class="nosotros">Blancos</li>
                    <li class="nosotros">Ahumados</li>
                    <li class="nosotros">Regalos</li>
                    </ul>
            </nav>
        </div>
        <div>
            <i class="fas fa-portrait">Su cuenta</i>
            <nav>
                <ul class="linksn">
                    <li class="nosotros">Espumantes</li>
                    <li class="nosotros">Tintos</li>
                    <li class="nosotros">Blancos</li>
                    <li class="nosotros">Ahumados</li>
                    <li class="nosotros">Regalos</li>
                    </ul>
            </nav>
        </div>
        <div>
            <i class="fas fa-university"><i class="fas fa-truck">Info Pago / envios</i> </i>
            <nav>
                <ul class="linksn">
                    <li class="nosotros">Espumantes</li>
                    <li class="nosotros">Tintos</li>
                    <li class="nosotros">Blancos</li>
                    <li class="nosotros">Ahumados</li>
                    <li class="nosotros">Regalos</li>
                    </ul>
            </nav>
        </div>
        <div>
            <i class="fas fa-globe">Contactos</i>
            <nav>
                <ul class="linksn">
                    <li class="nosotros">Espumantes</li>
                    <li class="nosotros">Tintos</li>
                    <li class="nosotros">Blancos</li>
                    <li class="nosotros">Ahumados</li>
                    <li class="nosotros">Regalos</li>
                    </ul>
            </nav>
        </div>
         
   </footer>


</body>
</html>