<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobdega</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
   <header>
       <!-- img src="" alt="" width="200px"!-->  
       <h1>BobDega</h1> 
       
       <form class= "barraDeBusqueda" action="">
        <input type="text" >
        <button><i class="fas fa-search"></i></button>
    </form>   
    <h3><i class="fas fa-user-circle">Usuario</i></h3>

    <a href="">Crea tu cuenta </a><i class="far fa-id-card"></i>
    <a href="">Ingresa a tu cuenta </a><i class="far fa-id-card"></i>

    <i class="fas fa-cart-plus"></i>
    
    <nav> 
        <ul>
            <li>espumantes</li>
            <li>Tintos</li>
            <li>Blancos</li>
            <li>Ahumados</li>
            <li>Regalos</li>
            
        </ul>
    </nav>


   </header>



   <main>
       <h2 class="title">Ofertas de esta temporada</h2>       
       <img src="/images/fondo.jpg" alt="" width="250">
       <section>
           <article>
               <h2>Nuestra Seleccion Premium</h2>
               <img src="/images/fondo-2.jpg" alt="" width="250">
           </article>
       </section>

       <section>
        <h2 class="title">¡Quizas esto te interese!</h2>
           <article><img src="/images/producto1.jpg" alt="" width="50"></article>
           <article><img src="/images/producto2.jpg" alt="" width="50"></article>
           <article><img src="/images/producto3.jpg" alt="" width="50"></article>
           <article><img src="/images/producto4.jpeg" alt="" width="50"></article>
       </section>


       <section>
        <article>
            <h2>Tour por nuestros Viñedos</h2>
            <img src="/images/Bodega.jpg" alt="" width="250">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem sit, architecto sed fugiat temporibus tempora quod perferendis. Id aut sunt beatae quibusdam et qui, eius eligendi quis rerum! Sed!
                
            </p>
        </article>
    </section>


   </main>



   <footer>
       <h3>
        <i class="fas fa-smile-wink">Acerca de Nosotros</i>

        <i class="fas fa-portrait">Su cuenta</i>

        <i class="fas fa-university"><i class="fas fa-truck">Info Pago / envios</i> </i>

        <i class="fas fa-globe">Contactos</i>
       </h3> 
         
   </footer>


</body>
</html>