<%- include('./partials/header', {pageTitle : 'Crear Admin'}) %> 

   <main>

       
       
       <i class="fas fa-user-circle" style="font-size: 50px; margin-top: 5px;" ></i>
       
    <h3>Se le concedio el poder de administrador al siguiente usuario:</h3>
    
    <h1><%=usuario.firstName %></h1>

    <img src="/images/tio_ben.png" width="500px">


    <h2>Un gran poder conlleva una gran responsabilidad</h2>
    
    </main>

    <script src="/js/login.js"></script>
<%- include('./partials/footer') %> 