<%- include('./partials/header', {pageTitle : 'Crear Admin'}) %> 
   <main class="logInMain">
    <i class="fas fa-user-circle" style="font-size: 50px;" ></i>

    <h3>Se le concedio el poder de administrador al siguiente usuario:</h3>
    
    <h1><%=usuario.firstName %></h1>

    </main>

    <script src="/js/login.js"></script>
<%- include('./partials/footer') %> 