<%- include('./partials/header', {pageTitle : 'Bobdega' }) %>

   <main>

      <section>
         <img src="/images/bannerBobdega.jpg" alt="" width="100%">
      </section>

      <section class="articulosHome">
         <a href="/product">
            <h2 class="title">Ver Todos los Productos</h2>
         </a>
      </section>

      <section>
         <a href="/product/create">
            <h2 class="title">Crear Producto</h2>
         </a>
      </section>
     <div class="homeCarrousel articulosHome">
      <section>
         <h2 class="title">Ofertas de esta temporada</h2>
         <img src="/images/fondo.jpg" alt="" width="250">
      </section>

      <section class="articulosHome" >
         <h2 class="title">quizas te interese</h2>
         <div id="carouselExampleInterval"  class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/images/producto1.jpg" width="300"  alt="Producto 1">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/images/producto2.jpg" width="300" alt="Producto 2">
              </div>
              <div class="carousel-item">
                <img src="/images/producto3.jpg" width="300" alt="Producto 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </section>
   </div>
      <%- include('./partials/quizasTeInterese',products) %>

      <section class="articulosHome" >
         <section class="sectionTour" >
            <h2>Tour por nuestros Viñedos</h2>
            <article class="tour">


               <div class="tour">
                  <div class="fotoBodega">
                     <img src="/images/Bodega.jpg" alt="" width="250">
                  </div>

                  <div>
                     <p class="descripcionBodega"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem
                        sit, architecto sed fugiat temporibus tempora quod perferendis. Id aut sunt beatae quibusdam et
                        qui, eius eligendi quis rerum! Sed! </p>
                  </div>
               </div>
            </article>
         </section>

   </main>
   <%- include('./partials/footer') %>