<%- include('./partials/header') %> 
   <main>
    <i class="fas fa-user-circle" style="font-size: 18px;" ></i>

    <h3>Ingresa tu cuenta</h3>
    <form action="/">
        <div>
            <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            <span>usuario incorrecto</span>
        </div>
        <div>
            <input type="password" name="usuario" placeholder="Contrase単a" required>
            <span>usuario incorrecto</span>
        </div>
        <div>
            <button type="submit">Ingresar</button>
        </div>
       

    </form>
    <p>Ingresar con:</p>
    <i class="fab fa-google"></i>
    <i class="fab fa-facebook"></i>

    <div>
        <a href="">多Olvidaste tu contrase単a?</a>
        <a href="">多Olvidaste tu usuario?</a>
        <a href="/signin">Crear cuenta</a>
    </div>

    </main>
<%- include('./partials/footer') %> 