<%- include('./partials/header', {pageTitle : 'Productos'}) %> 
   <main>
        <section class="">
            <h2>Catena - Nicola Catena Bonarda - Celler</h2>
            <img src="/images/producto1.jpg" alt="" style="max-width: 200px;">
            <div>
                <h3>USD $4000</h3>
                <p>FICHA TÉCNICA</p>
                <p>Este vino proviene de una pequeña parcela en un viñedo de más de 80 años de antigüedad cuyos rendimientos en kilos de uva por planta son sumamente bajos, lográndose por ello una concentración y complejidad excepcionales. 
                    Aromas intensos de regaliz, especias verdes como orégano y tomillo y boca con gran volumen y persistencia.
                    Catena Zapata</p>
                    
                    <p>PRODUCTOR</p>
                    <p>Catena Zapata</p>
                    
                    <p>TIPO</p>
                    <p>Tinto</p>
                    
                    <p>VARIEDAD</p>
                    <p>Bonarda</p>
                    
                    <p>CORTE</p>
                    <p>100% Bonarda</p>
                    
                    <p>ALCOHOL</p>
                    <p>13,50%</p>
                    
                    <p>LUGAR DE ELABORACIÓN</p>
                    <p>La Vendimia, El Mirador, Mendoza.
                    ALTURA (S.N.M.)
                    750</p>
                    
                    <p>CRIANZA / BARRICADO</p>
                    <p>18 meses en barricas de roble francés.</p>
                    
                    
                    <p>ELABORACIÓN</p>
                    <p>Fermentación: Levaduras nativas. Maceración fría en barricas durante 4 días. debajo de 10º. Temp. Ferm. entre 25 y 30º C durante 15 días.</p>
                    
                    <p>ENÓLOGO</p>
                    <p>Alejandro Vigil</p>

                    <p>PAÍS</p>
                    <p>Argentina</p>
            </div>
            <article class="botones">
                <div class="button">
                <button type="submit">¡Comprar Ahora!</button>
                
                <button type="submit">Agregar al carrito <i class="fas fa-cart-plus"></i></button>
                </div>
                <div class="desplegables">
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <select name="met-en" id="met">
                    <option value="1">Envio a domicilio</option>
                    <option value="2">Retiro por sucursal</option>
                    <option value="3">Retiro en correo y otros puntos</option>
                </select>
                </div>
            </article>
            
            
        </section>


        <section>
        <h2 class="title">¡Quizas esto te interese!</h2>
        </div>
        <div class="productos">
            <article class="articulosProductos">
                <a href="/product"><img src="/images/producto1.jpg" alt=""></a>
                </article>
            <article class="articulosProductos">
                <a href="/product"><img src="/images/producto2.jpg" alt="" width="90%" ></a>
                </article>
            <article class="articulosProductos">
                <a href="/product"><img src="/images/producto3.jpg" alt=""  ></a>
                </article>
            <article class="articulosProductos">
                <a href="/product"><img src="/images/producto4.jpg" alt="" ></a>
                </article>
        </div>
       </section>


   </main>
<%- include('./partials/footer') %> 