<%- include('./partials/header',  {pageTitle : 'Registrate'}) %> 
   <main>
    <section class="Sign-in">
        <i class="fas fa-user-circle" style="font-size: 18px;" ></i>

        <h3>Crea tu cuenta</h3>
        <form action="/signin/create" method="post" class="formulario-s" enctype="multipart/form-data">
            <input type="text" name="firstName" placeholder="Nombre" required>
            <input type="text" name="lastName" placeholder="Apellido" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="password" name="password2" placeholder="Repetir Contraseña" required>
            <input type="file" name="image" placeholder="Imagen" required>
            <button type="submit">Ingresar</button>
        </form>
            <p>Ingresar con:</p>
            <i class="fab fa-google"></i>
            <i class="fab fa-facebook"></i>
        
    </section>
    </main>

<%- include('./partials/footer') %> 