</body>

<footer>
    <section class="footerLogo">

        <div>
            <h1 class="linksnEncabezado">Bobdega</h1>
        </div>

        <div class="linksnSecundario">
            <p>- viñedos & bodegas -</p>
        </div>

        <div  class="linksnEncabezado2">
            <h5>Digital House 2022, Luján de Cuyo <p>
            </p> Mendoza, Argentina</h5>
        </div>

    </section>

    <div class="secFooter">
        <div>
            <i>Nosotros</i>
        </div>

        <div>
            <i>Envios</i>
        </div>

        <div>
            <i>Bodega</i>
        </div>
        
        <div>
            <i>Contactanos</i>
        </div>

    </div>
   
        <div class="redesSociales">
            <i class="sociales" >Seguinos:</i>
            <div>
                <a href="http://www.instagram.com"><img src="/images/instagram.svg" alt="" width="9%"></a>
                <a href="http://www.facebook.com"><img src="/images/facebook.svg" alt="" width="9%"></a>
                <a href="http://www.twitter.com"><img src="/images/twitter.svg" alt="" width="9%"></a>
                <a href="http://www.youtube.com"><img src="/images/youtube.svg" alt="" width="9%"></a>
            </div>
        </div>
    
<i class="finFooter">
    © 2021-2022 Bobdega.
    Todos los derechos reservados. Beber con moderación. Prohibida su venta a menores de 18 años.
</i>
</footer>
</body>
</html>