<footer>
    <div>
        <i class="fas fa-smile-wink">Acerca de Nosotros</i>
        <nav>
            <ul class="linksn">
                <li class="nosotros">Espumantes</li>
                <li class="nosotros">Tintos</li>
                <li class="nosotros">Blancos</li>
                <li class="nosotros">Ahumados</li>
                <li class="nosotros">Regalos</li>
                </ul>
        </nav>
    </div>
    <div>
        <i class="fas fa-portrait">Su cuenta</i>
        <nav>
            <ul class="linksn">
                <li class="nosotros">Espumantes</li>
                <li class="nosotros">Tintos</li>
                <li class="nosotros">Blancos</li>
                <li class="nosotros">Ahumados</li>
                <li class="nosotros">Regalos</li>
                </ul>
        </nav>
    </div>
    <div>
        <i class="fas fa-university"><i class="fas fa-truck">Info Pago / envios</i> </i>
        <nav>
            <ul class="linksn">
                <li class="nosotros">Espumantes</li>
                <li class="nosotros">Tintos</li>
                <li class="nosotros">Blancos</li>
                <li class="nosotros">Ahumados</li>
                <li class="nosotros">Regalos</li>
                </ul>
        </nav>
    </div>
    <div>
        <i class="fas fa-globe">Contactos</i>
        <nav>
            <ul class="linksn">
                <li class="nosotros">Espumantes</li>
                <li class="nosotros">Tintos</li>
                <li class="nosotros">Blancos</li>
                <li class="nosotros">Ahumados</li>
                <li class="nosotros">Regalos</li>
                </ul>
        </nav>
    </div>
     
</footer>
</body>
</html>