<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="general">
            <div class="imagen" > 
                <a href="/"><img src="/images/final_2.png" alt="Bobdega" width="80"></a>
            </div>

          
            <div class="barraBusqueda">
                <form action="">
                    <input name="buscar" type="text" placeholder="Buscar productos">
                    <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
                </form>    
            </div>

            
            
                <ul class="cuentacarrito">
                <li ><i class="fas fa-user-circle" style="font-size: 18px;" ></i></li>
                <li ><a href="/signin" ><i class="fas fa-sign-in-alt"></i></a></li>
                <li ><a href="/login"><i class="far fa-id-card"></i></a></li>
                <li><a href="/shoppingCart"><i class="fas fa-cart-plus"></i></a></li>
                </ul>
    
            
        </div>
        <div class="cate-div">
            <nav class="menuCategorias">
                <ul class="categorias">
                <li >Espumantes</li>
                <li >Tintos</li>
                <li >Blancos</li>
                <li >Ahumados</li>
                <li >Regalos</li>
                </ul>

            </nav>
        </div>
   </header>