<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="general">
            <div class="imagen" > 
                <a href="/"><img src="/images/final_2.png" alt="Bobdega" width="80"></a>
            </div>

          
            <div class="barraBusqueda">
                <form action="/product/search" method="post">
                    <input name="search" type="text" placeholder="Buscar productos">
                    <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
                </form>    
            </div>

            
            <% if (locals.isAnUserLogged){ %>
                <h2><%= locals.userData.name %></h2>
                <form action="/user/logout" method="post" class="buttonForm">
                    <button class="btn btn-warning">Salir</button>
                </form>
                <a href="/product/shoppingCart"><i class="fas fa-cart-plus"></i></a>
                <%}else{%>
                <ul class="cuentacarrito">
                <li ><a href="/user/signin" ><i class="fas fa-sign-in-alt"></i></a></li>
                <li ><a href="/user/login"><i class="far fa-id-card"></i></a></li>
                <li><a href="/product/shoppingCart"><i class="fas fa-cart-plus"></i></a></li>
                </ul>
                <% } %> 
            
        </div>
        <div class="cate-div">
            <nav class="menuCategorias">
                <ul class="categorias">
                <li ><a href="/product/productByCategory/1">Espumantes</a></li>
                <li ><a href="/product/productByCategory/2">Tintos</a></li>
                <li ><a href="/product/productByCategory/3">Blancos</a></li>
                <li ><a href="/product/productByCategory/4">Rosados</a></li>
                <li ><a href="/product/productByCategory/5">Regalos</a></li>
                </ul>

            </nav>
        </div>
   </header>