<section class="interes">
    <div>
    <h2 class="title">¡Quizas esto te interese!</h2>
    </div>
       <div class="productos">
            <article class="articulosProductos">
                <a href="/product/detail/0"><img src="/images/producto1.jpg" alt=""></a>
                </article>
            <article class="articulosProductos">
                <a href="/product/detail/1"><img src="/images/producto2.jpg" alt=""  ></a>
                </article>
            <article class="articulosProductos">
                <a href="/product/detail/2"><img src="/images/producto3.jpg" alt=""  ></a>
                </article>
            <article class="articulosProductos">
                <a href="/product/detail/3"><img src="/images/producto4.jpg" alt="" ></a>
                </article>
        </div>
   </section>